@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;   
}

.profil-carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    box-shadow: 10px 10px 20px 0 rgb(14, 14, 212);
    border-radius: 25px;
    position: relative;
}

.profil-carte::before{
    content: '';
    position: absolute;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;

}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color:#4070f4 ;
    padding: 3px;
    margin-bottom:10px ;
}

.image .profil-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;

}

.profil-carte .texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.texte .name{
    font-size:22px ;
    font-weight: 500;
}

.texte .job{
    font-size:10px ;
    font-weight: 250;
}

.profil-carte .boutton{
    display: flex;
    align-items: center;
    margin-top: 15px;
    

}

.boutton .link{
    background-color: #4070f4;
    text-decoration: none;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    
}

.profil-carte .boutton {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.boutton .boutton{
    padding: 8px 25px;
    margin: 0 10px;
    font-weight: 400;
    border: none;
    border-radius: 23px;
    background-color: #4070f4;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
}

.boutton .boutton:hover{
    background-color: #0e4bf1;
}

.profil-carte .analytique {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytique .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}

.data i{
    font-size: 18px;
    margin-right: 6px;

}
.data:last-child{
    border-right:none;


}



